<section class="container-fluid">
    <div class="text-center mt-3">
        <h1>Benefícios do projeto</h1>
    </div>
    <div  class="row justify-content-md-center">
        <div class="col-md-10 text-center">
            <p>Alguns benefícios do projeto incluem: a inclusão social, a mudança positiva de comportamento, o preenchimento do
                "tempo livre", o desempenho motor, a aprendizagem da modalidade esportiva, o desempenho escolar, o respeito, a
                autoconfiança, a disciplina, a autonomia, a autoestima, a qualidade de vida, a concentração, o autocontrole, a
                superação e a hierarquia.</p>
        </div>
    </div> 
</section>