.gender-box-radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .gender-box-radio {
    flex-direction: column;
  }
}

.register-box-button{
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

img {
  height: 150px;
  width: 150px;
}
