.gender-box-radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .gender-box-radio {
    flex-direction: column;
  }
}

.register-box-button{
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

img {
  height: 150px;
  width: 150px;
}

.is-invalid {  
  border: 2px solid red;  
}  

.is-valid {  
  border: 2px solid green;  
}  

::ng-deep .success-snackbar {
  --mdc-snackbar-container-color: #28a745;
  --mdc-snackbar-supporting-text-color: #fff;
}

::ng-deep .error-snackbar {
--mdc-snackbar-container-color: #dc3545 !important;
--mdc-snackbar-supporting-text-color: #fff;
}

::ng-deep .warning-snackbar {
  --mdc-snackbar-container-color: #ffc107 !important;
  --mdc-snackbar-supporting-text-color: #fff;
}

