<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form class="form-group">
        <div class="mb-4">
          <a href="/admin/{{ email }}" class="text-white text-decoration-none">
            <button type="button" class="btn btn-primary my-3">Voltar</button>
          </a>
          <h2 class="fw-bold">Registrar Aluno</h2>
          <p>Preencha os dados abaixo para registrar um novo aluno</p>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" name="nome" [(ngModel)]="aluno.nome" id="nome" class="form-control" placeholder="Nome"
                required />
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="turma">Turma</label>
              <select id="kyu" name="kyu" [(ngModel)]="aluno.turma" class="form-select" required>
                <option *ngFor="let turma of turmas; let i = index" [value]="turma.nome" selected>
                  {{ turma.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="kyu">Kyu</label>
              <select id="kyu" name="kyu" [(ngModel)]="aluno.graduacao.kyu" class="form-select">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mb-3">
              <label for="dan">Dan</label>
              <input type="number" min="1" max="20" name="dan" id="dan" class="form-control"
                [(ngModel)]="aluno.graduacao.dan" placeholder="Dan" required />
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <div class="form-group mb-3">
              <label for="dataNascimento">Data de Nascimento</label>
              <input type="date" class="form-control" [(ngModel)]="aluno.dataNascimento" name="dataNascimento"
                id="dataNascimento" min="1980-01-01" max="2024-12-31" pattern="\d{4}-\d{2}-\d{2}"
                placeholder="dd-MM-yyyy" required />
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="rg">CPF</label>
              <input type="text" name="cpf" class="form-control" [(ngModel)]="aluno.cpf" id="rg" placeholder="CPF*"
                required />
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="row mb-3">
            <div class="col-md-9">
              <input type="text" [(ngModel)]="aluno.endereco.cep" name="cep" id="cep" class="form-control"
                placeholder="CEP" (blur)="buscarEnderecoPeloCep()" />
            </div>
            <div class="col-md-3">
              <input type="number" name="numero" [(ngModel)]="aluno.endereco.numero" id="numero" class="form-control"
                placeholder="Numero*" required />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <input type="text" name="estado" [(ngModel)]="aluno.endereco.estado" id="estado" class="form-control"
                placeholder="Estado" required />
            </div>
            <div class="col-md-6">
              <input type="text" name="cidade" [(ngModel)]="aluno.endereco.cidade" id="cidade" class="form-control"
                placeholder="Cidade" required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" name="rua" [(ngModel)]="aluno.endereco.logradouro" id="rua" class="form-control"
                placeholder="Rua*" required />
            </div>
          </div>
        </div>

        <div class="text-center my-4 mx-3 border rounded">
          <div class="gender-box-radio">
            <div>
              <input type="radio" name="genero" value="OUTRO" [(ngModel)]="aluno.genero" />
              <label class="p-2" for="css">Outro</label><br />
            </div>
            <div>
              <input type="radio" name="genero" value="M" [(ngModel)]="aluno.genero" />
              <label class="p-2" for="html">Masculino</label><br />
            </div>
            <div>
              <input type="radio" name="genero" value="F" [(ngModel)]="aluno.genero" />
              <label class="p-2" for="css">Feminino</label><br />
            </div>
          </div>
        </div>

        <div>
          <div class="row mt-5">
            <h5>Dados Escolares</h5>
            <div class="col-md-7 p-2">
              <label for="escola" class="form-label">Escola*</label>
              <input type="text" name="escola" [(ngModel)]="aluno.dadosEscolares.escola" id="escola"
                class="form-control" placeholder="Escola*" required />
            </div>
            <div class="col-md-2 p-2">
              <label for="serie" class="form-label">Serie*</label>
              <input type="number" name="serie" [(ngModel)]="aluno.dadosEscolares.serie" id="serie" class="form-control"
                min="1" max="9" required />
            </div>
            <div class="col-md-3 p-2">
              <label for="turno" class="form-label">Turno*</label>
              <select name="turno" class="form-select" [(ngModel)]="aluno.dadosEscolares.turno" id="turno" required>
                <option value="MANHA">Matutino</option>
                <option value="TARDE">Tarde</option>
                <option value="NOITE">Noturno</option>
              </select>
            </div>
          </div>
        </div>

        <div class="my-4">
          <h5>Dados Sociais</h5>

          <div class="row mt-3">
            <div class="col-md-3">
              <label for="form1" class="form-label">Renda Familiar</label>
              <input type="number" id="form1" class="form-control" min="0" max="300000" placeholder="Renda" name="renda"
                [(ngModel)]="aluno.dadosSociais.rendaFamiliar" required />
            </div>
            <div class="col-md-4">
              <label for="numerosDePessoasNaCasa" class="form-label">Pessoas na Casa</label>
              <input type="number" name="numerosDePessoasNaCasa" id="numerosDePessoasNaCasa" class="form-control"
                min="1" max="15" placeholder="Pessoas na Casa"
                [(ngModel)]="aluno.dadosSociais.numerosDePessoasNaCasa" />
            </div>
            <div class="col-md-4">
              <label for="contribuintesDaRenda" class="form-label">Contribuintes da Renda</label>
              <input type="number" name="contribuintesDaRenda" id="contribuintesDaRenda" min="1" max="15"
                class="form-control" placeholder="Contribuintes da Renda"
                [(ngModel)]="aluno.dadosSociais.contribuintesDaRendaFamiliar" />
            </div>
          </div>

          <div class="row mt-3">
            <label for="imovel" class="form-label">Imovel</label>
            <div class="col-md-12">
              <select class="imovel p-2 w-100" aria-label="imovel" name="imovel" [(ngModel)]="aluno.dadosSociais.imovel"
                required>
                <option value="CEDIDO">Cedido</option>
                <option value="ALUGADO">Alugado</option>
                <option value="PROPRIO">Proprio</option>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div class="mb-3 form-check">
              <h6 class="mb-4">Marque algumas informações do aluno</h6>
              <input type="checkbox" class="form-check-input" id="bolsaFamilia" name="bolsaFamilia"
                [(ngModel)]="aluno.dadosSociais.bolsaFamilia" />
              <label class="form-check-label" for="bolsaFamilia">Bolsa Família</label>
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="auxilioBrasil" name="auxilioBrasil"
                [(ngModel)]="aluno.dadosSociais.auxilioBrasil" />
              <label class="form-check-label" for="auxilioBrasil">Auxílio Brasil</label>
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="alunoContribuiParaRenda"
                name="alunoContribuiParaRenda" [(ngModel)]="aluno.dadosSociais.alunoContribuiParaRenda" />
              <label class="form-check-label" for="alunoContribuiParaRenda">Aluno Contribui para Renda</label>
            </div>
          </div>
        </div>

        <div class="my-5">
          <h5>Responsavel</h5>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="text" name="nomeResponsavel" id="nomeResponsavel" class="form-control" placeholder="Nome"
                [(ngModel)]="responsavel.nome" />
            </div>
            <div class="col-md-6">
              <input type="text" name="cpfResponsavel" id="cpfResponsavel" class="form-control" placeholder="CPF*"
                [(ngModel)]="responsavel.cpf" required />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="text" name="emailResponsavel" id="emailResponsavel" class="form-control" placeholder="Email"
                [(ngModel)]="responsavel.email" />
            </div>
            <div class="col-md-6">
              <input type="tel" name="telefoneResponsavel" id="telefoneResponsavel" class="form-control"
                placeholder="Telefone" [(ngModel)]="responsavel.telefone" />
            </div>
          </div>

          <div class="row mt-4">
            <select class="form-select" aria-label="Filiação do responsável" [(ngModel)]="responsavel.filiacao"
              name="filiacao" id="filiacao">
              <option selected disabled>Filiação do responsável</option>
              <option value="OUTRO">Outro</option>
              <option value="PAI">Pai</option>
              <option value="MAE">Mãe</option>
            </select>
          </div>
        </div>

        <div class="mt-4">
          <h5>Histórico de Saude</h5>

          <div class="row mt-3">
            <div class="col-md-6">
              <select class="form-select" aria-label="Tipo sanguineo" id="tipoSanguineo" name="tipoSanguineo"
                [(ngModel)]="historicoSaude.tipoSanguineo">
                <option selected disabled>Tipo sanguineo</option>
                <option value="A_POSITIVO">A+</option>
                <option value="A_NEGATIVO">A-</option>
                <option value="B_POSITIVO">B+</option>
                <option value="B_NEGATIVO">B-</option>
                <option value="AB_POSITIVO">AB+</option>
                <option value="AB_NEGATIVO">AB-</option>
                <option value="O_POSITIVO">O+</option>
                <option value="O_NEGATIVO">O-</option>
              </select>
            </div>
          </div>

          <div class="row mt-4">
            <p>O Aluno faz uso de medicamentos?</p>
            <cite> Se não possuir, deixe em branco </cite>
            <input type="text" name="usoMedicamentos" id="usoMedicamentos" class="form-control"
              [(ngModel)]="aluno.historicoSaude.usoMedicamentoContinuo.tipo" />
          </div>

          <div class="row mt-4">
            <p>O Aluno tem alergias?</p>
            <cite> Se não possuir, deixe em branco </cite>
            <input type="text" name="alergia" id="alergia" class="form-control"
              [(ngModel)]="aluno.historicoSaude.alergia.tipo" />
          </div>

          <div class="row mt-4">
            <p>O Aluno tem cirurgias?</p>
            <cite> Se não possuir, deixe em branco </cite>
            <input type="text" name="cirurgias" id="cirurgias" class="form-control"
              [(ngModel)]="aluno.historicoSaude.cirurgia.tipo" />
          </div>

          <div class="row mt-4">
            <p>O Aluno tem alguma doença cronica?</p>
            <cite> Se não possuir, deixe em branco</cite>
            <input type="text" name="doencaCronica" id="doencaCronica" class="form-control"
              [(ngModel)]="aluno.historicoSaude.doencaCronica.tipo" />
          </div>

          <div class="row mt-4">
            <h5>O Aluno possui deficiencias?</h5>
            <div>
              <input class="w-75 m-1" type="text" name="deficiencia" id="deficiencia" class="form-control"
                [(ngModel)]="deficiencia" />
              <div class="d-flex justify-content-end">
                <button class="btn btn-secondary m-2" (click)="adicionarDeficiencia()">
                  Adicionar
                </button>
              </div>
            </div>
            <div *ngIf="historicoSaude.deficiencia.length > 0">
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="d-flex flex-wrap">
                    <li class="bg-info rounded m-2 py-2 px-3 text-white" *ngFor="let str of historicoSaude.deficiencia">
                      {{ str }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <h5>O Aluno possui algum acompanhamento de saude?</h5>
            <div>
              <input class="w-75 m-1" type="text" name="acompanhamentoSaude" id="acompanhamentoSaude"
                class="form-control" [(ngModel)]="acompanhamentoSaude" />
              <div class="d-flex justify-content-end">
                <button class="btn btn-secondary m-2" (click)="adicionarAcompanhamento()">
                  Adicionar
                </button>
              </div>
            </div>
            <div *ngIf="historicoSaude.acompanhamentoSaude.length > 0">
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul class="d-flex flex-wrap">
                    <li class="bg-info rounded m-2 py-2 px-3 text-white"
                      *ngFor="let str of historicoSaude.acompanhamentoSaude">
                      {{ str }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="register-box-button m-3">
          <button class="btn btn-primary w-50 h-100" (click)="registrarAluno()">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loading></app-loading>