<main>
  <section class="container-fluid px-0">

    <h1 class="cor-fundo text-center text-light p-4">CONTATO</h1>

    <div class="row m-0 mt-5 d-flex justify-content-center">

      <article class="col-md-6 py-4 text-center">
        <p>Quer conhecer mais sobre o trabalho do Instituto Força Jovem Bushido? <br> Preencha o formulário ou envie um
          e-mail para <strong class="text-primary ">contato@institutobushido.org.br</strong></p>

        <h2>Nossa Localização</h2>

        <p>Rua Interventor Santos Neves, Nº 125, Centro, Fundão/ES. CEP: 29185000</p>

        <p>Telefone: (27) 99925-5857</p>

        <!---Maps-->
        <div>
          <iframe title="Google Maps - Instituto Força Jovem Bushido"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1875.3890842235426!2d-40.40537645186993!3d-19.933750728501266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb791e46cb58517%3A0x7830cea64611b20e!2sR.%20Interventor%20Santos%20Neves%2C%20125%20-%20A%20Definir%2C%20Fund%C3%A3o%20-%20ES%2C%2029185-000!5e0!3m2!1spt-BR!2sbr!4v1705622055225!5m2!1spt-BR!2sbr"
            style="border:0; width: 100%; height: 250px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </article>

      <article class="col-md-5 py-4">

        <h2 class="mb-3 text-center">Fale Conosco</h2>

        <form action="#" method="post">


          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nomeb" id="nome" placeholder="Seu Nome Aqui" required>
            <label for="nome">Nome*</label>
          </div>

          <div class="form-floating mb-3">
            <input type="tel" class="form-control" name="telb" id="tel" placeholder="Telefone" required>
            <label for="tel">Telefone*</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="emailb" id="email" placeholder="email" required>
            <label for="email">Email*</label>
          </div>


          <div class="form-floating mb-3">
            <select class="form-select" name="doacaob" id="doacao-sl" aria-label="Tipos de doações" required>
              <option selected value="voluntario">Voluntario</option>
              <option value="Doacao">Doação</option>
              <option value="comunicacao">Comunicação</option>
              <option value="marketing">Marketing</option>
              <option value="financeiro">Financeiro</option>
            </select>
            <label for="doacao-sl">Escolha um seletor*</label>
          </div>

          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="comentario" name="comentario" id="comentario" required
              style="height: 100px"></textarea>
            <label for="comentario">Mensagem*</label>
          </div>

          <div>
            <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
          </div>



        </form>


      </article>

    </div>

  </section>

</main>