<div class="container">
  <a class="text-white text-decoration-none" href="/admin/{{ email }}">
    <button class="btn btn-secondary ms-2 mt-2">Voltar</button>
  </a>

  <form class="d-flex my-4" (ngSubmit)="pesquisar()">
    <input
      type="search"
      name="pesquisarAluno"
      class="form-control"
      placeholder="Pesquisar..."
      aria-label="Search"
      aria-describedby="search-addon"
      [(ngModel)]="pesquisarAluno"
      required
    />
    <input type="submit" value="Pesquisar" class="btn btn-primary">
  </form>

  <!---Dados do aluno-->

  <div class="row" *ngIf="alunos.length > 0">
    <div class="col-12" *ngFor="let aluno of alunos">
      <app-card-busca-aluno [aluno]="aluno" [showPlaceholder]="showPlaceholder"></app-card-busca-aluno>
    </div>
  </div>
</div>
