<div class="d-flex text-center">
    <section id="karate-sem-fronteiras-banner" class="container-fluid px-sm-5">
        <div class="d-flex justify-content-center">
            <p>Projeto Social</p>
        </div>
        
        <h1>Karatê Sem Fronteiras</h1>
        <div class="d-flex justify-content-center">
            <p>Uma vida melhor longe das drogas e da violência.</p>
        </div>
        
        <div class="d-sm-block d-flex justify-content-center">
           <button type="button" class="btn btn-primary btn-apoie" routerLink="/seja-um-doador">Apoie essa causa!</button>
        </div>
    </section>
</div>