<!---Sessão main, principal do projeto-->
<section class="container-fluid">

  <div class="row text-dark px-2 py-5">

    <article class="col-md-6 d-flex flex-column align-items-center mt-5">
      <img src="../../../../assets/home/capas/CAPAS-2.webp" alt="Equipe Bushido" class="equipe-bushido">
    </article>

    <article class="col-md-6 d-flex flex-column align-items-center justify-content-between">

      <div class="text-center mt-4">
        <h1 class="h2">Propósito</h1>
      </div>

      <div class=" mt-5">
        <p class="fs-5 lh-base text-sm-justify text-center fs-5 lh-base p">Juntos nós podemos criar um mundo melhor para
          os jovens. Trabalhamos para melhorar a vida dos jovens por meio da prática direta. Jovens de diferentes
          origens têm um grande impacto em nós e em todas as nossas atividades. Juntos promovemos o desenvolvimento
          pessoal, a melhora da autoestima e ensinos valores como disciplina e respeito.</p>

      </div>

      <div class="mt-5">
        <a href="#" class="btn  btn-light  btn-lg rounded-pill" role="button">Venha fazer Parte!</a>
      </div>


    </article>



  </div>

</section>