<main>
  <div class="container-fluid d-flex justify-content-center">
    <article class="col-md-6 mt-5">
      <h3 class="text-center">Registro</h3>

      <form class="form-group" (ngSubmit)="registrarNovoAdmin()">
        <div class="input-text-register col-sm-10">
          <input
            type="text"
            id="nome"
            [(ngModel)]="user.nome"
            name="nome"
            class="form-control"
            placeholder="Nome"
            required
          />
        </div>

        <div class="input-text-register col-sm-10">
          <input
            type="email"
            autocomplete="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
          />
        </div>

        <div class="input-text-register col-sm-10">
          <input
            type="text"
            id="cargo"
            [(ngModel)]="user.cargo"
            name="cargo"
            class="form-control"
            placeholder="Cargo"
            required
          />
        </div>

        <div class="input-text-register col-sm-10">
          <input
            type="password"
            id="senha"
            [(ngModel)]="user.senha"
            name="senha"
            class="form-control"
            placeholder="Senha"
            required
          />
        </div>

        <div class="role-box-radio col-sm-10 d-flex justify-content-around p-4">
          <div>
            <input type="radio" name="role" [(ngModel)]="user.role" value="TUTOR" />
            <label class="p-2" for="html">TUTOR</label><br />
          </div>
          <div>
            <input type="radio" name="role" [(ngModel)]="user.role" value="ADMIN" />
            <label class="p-2" for="css">ADMIN</label><br />
          </div>
        </div>

        <div class="register-box-button col-sm-12 mt-5">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!user.email || !user.cargo || !user.nome || !user.role || !user.senha"
            Login
          >
            Registrar
          </button>
        </div>
      </form>
    </article>
  </div>
  <app-loading></app-loading>
</main>
