<section class="bg-white py-5 px-2">
    <h1 class="mb-5 text-center">Como nos ajudar</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-10 text-center">
            <p class="fs-5 lh-base">
                Juntos, podemos fazer a diferença! Ao doar, você oferece suporte. Como voluntário, sua dedicação e tempo são um
                tesouro. E para aqueles que escolhem patrocinar, sua generosidade é a base que sustenta projetos significativos.
            </p>
        </div>
    </div>
    <div class="box-cards container-fluid">
        <div class="row">
            <div class="card col-lg-3 col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Seja Patrocinador</h5>
                    <img src="../../../../assets/home/ajuda/handshake.webp" alt="" class="card-icon">
                    <button type="button" class="btn btn-light btn-card" routerLink="/contato">Clique aqui</button>
                </div>
            </div>
            <div class="card col-lg-3 col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Seja um Doador</h5>
                    <img src="../../../../assets/home/ajuda/donor.webp" alt="" class="card-icon">
                    <button type="button" class="btn btn-light btn-card" routerLink="/seja-um-doador">Clique
                        aqui</button>
                </div>
            </div>
            <div class="card col-lg-3 col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Seja Voluntário</h5>
                    <img src="../../../../assets/home/ajuda/voluntary.webp" alt="" class="card-icon">
                    <button type="button" class="btn btn-light btn-card" routerLink="/contato">Clique aqui</button>
                </div>
            </div>
        </div>
    </div>
</section>