<main class="container-fluid p-5">

    <div class="row">

        <article class="col p-5">

           
                <img src="../../../../../../assets/blog/esportes/Karate-faixa.png" alt="" class="img-fluid ">
          

            <h1 class="mt-3 ">Participamos da Etapa Classificatória em Goiânia</h1>
            <h2 class="mt-3 h6 text-primary">Deixe um comentário / Esporte / Por Marketing Bushido</h2>
            <h2 class="mt-3 h6">Ana Júlia Ribeiro • 02 de julho de 2023 • 3 minutos de leitura</h2>

            <p class="mt-5 fs-4">Olá, amigos(as)!</p>

            <p class="fs-4">Sejam bem-vindos(as) ao primeiro artigo do blog. Esta é uma iniciativa que busca aprimorar a comunicação do Instituto Bushido com pais, jovens e diversos membros da comunidade. Através desta plataforma, abordaremos uma variedade de conteúdos, compartilharemos informações novas e apresentaremos muitas oportunidades que surgirão ao longo da nossa trajetória. Estamos entusiasmados e muito felizes por tê-los conosco nessa emocionante jornada.</p>

            <p class="fs-4">Hoje, refletiremos sobre a aventura mais recente, na qual tivemos a oportunidade de participar. Em junho de 2023, realizamos uma viagem para Goiás, mas especificamente para a Etapa Classificatória em Goiânia, cinco alunos da nossa instituição estiveram presentes nesse evento, que ocorreu entre o dia 15 e 18, no Ginásio Esportivo Rio Vermelho. Foi um verdadeiro sucesso! Conseguimos medalhas e no geral fomos classificados para o Campeonato Nacional Brasileiro de Karatê que acontecerá em novembro desse ano. Além disso, obtivemos um grande conhecimento cultural, que nunca é demais.</p>

            <p class="fs-4">Toda a equipe do Instituto Bushido ficou intensamente feliz e emocionada, por terem participado de momentos importantes para os jovens. Ademais, alguns deles andaram de avião pela primeira vez e tiveram experiências únicas.</p>

            <div>
                
            </div>



        </article>

    </div>
</main>
