@media (max-width:400px) {
    
    main{
        padding: 5px;
        text-align: center;
    }

    .sobre{
        text-align: center;
        padding: 10px;
    }

}

ul{
    padding: 0px;
 }
 li{
     margin-right: 1em;
 }

svg{
    width: 25px;
    height: auto;
    color: black;
    
}