@media (max-width:400px) {
    
    body{
     padding: 50px;
    }


}

#carouselExampleAutoplaying2 img, #carouselExampleAutoplaying img{
    width: 180px;
    height: 250px;

}

/*Carrosel bootstrap */
#carouselExampleAutoplaying2{
    display: none;
}
@media (max-width:600px) {
    #carouselExampleAutoplaying2{
        display: block;
    }

    #carouselExampleAutoplaying{
        display: none;
    }
}

ul{
    padding: 0px;
 }
 li{
     margin-right: 1em;
 }

svg{
    width: 25px;
    height: auto;
    color: black;
    
}




