#carouselExampleAutoplaying2 img, #carouselExampleAutoplaying img{
    width: 180px;
    height: 250px;

}

/*Carrosel bootstrap */
#carouselExampleAutoplaying2{
    display: none;
}

ul{
    padding: 0px;
 }
 li{
     margin-right: 1em;
 }

svg{
    width: 25px;
    height: auto;
    color: black;
    
}


@media (max-width:400px) {
    
    body{
     padding: 50px;
    }


}


@media (max-width:600px) {
    #carouselExampleAutoplaying2{
        display: block;
    }

    #carouselExampleAutoplaying{
        display: none;
    }
}


@media (min-width:800px) and (max-width:850px) {

    #carouselExampleAutoplaying img{
        width: 20%;
    }

    
}





