<section class="container-fluid">
    <h1>Oficinas</h1>
    <p><span>Local: </span>Shopping Zilia, Rua Interventor Santos Neves, Nº 125, Fundão/ES</p>
    <p><span>Dia das aulas: </span> Segunda, Quarta e Sexta-feira</p>
    <p><span>Horários: </span> 18h às 19h / 19h às 20h</p>
    <p class="destacado-text">Demais horários a definir com o professor mediante o fechamento da turma.</p>
    <p><span>E-mail: </span>  <a href="mailto:luciano@institutobushido.org.br">luciano@institutobushido.org.br</a></p>

    <div class="contato">
        <h1>Contato</h1>
        <div class="contato-links">
            <a href="https://api.whatsapp.com/message/5VX3JOY7XTEYL1?autoload=1&app_absent=0" class="btn btn-success btn-block">
                <img src="../../../../assets/karate-sf/whatsapp.webp" alt="WhatsApp Icon" class="mr-2"> (27) 99925-5857
            </a>
            <a href="https://api.whatsapp.com/message/5VX3JOY7XTEYL1?autoload=1&app_absent=0" class="btn btn-success btn-block">
                <img src="../../../../assets/karate-sf/whatsapp.webp" alt="WhatsApp Icon" class="mr-2"> (27) 99900-6787
            </a>
        </div>
    </div>
</section>