<section class="container-fluid">
    <div class="text-center mt-3">
        <h1>Oficinas</h1>
    <p><span>Local: </span>Shopping Zilia, Rua Interventor Santos Neves, Nº 125, Fundão/ES</p>
    <p><span>Dia das aulas: </span> Segunda, Quarta e Sexta-feira</p>
    <p><span>Horários: </span> 18h às 19h / 19h às 20h</p>
    <p class="destacado-text">Demais horários a definir com o professor mediante o fechamento da turma.</p>
    <p>
        <span>E-mail: </span>
        <a href="mailto:luciano@institutobushido.org.br">
            luciano@institutobushido.org.br
        </a>
    </p>
    </div>  
</section>