.contato{
    margin: 1.5rem 0 3.5rem;
}
span{
    font-weight: bold;
}
.destacado-text {
    color: #007bff;
    font-weight: bold;
}
.contato-links{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.contato img{
    width: 15px;
}