<section  class=" container-fluid bg-white py-5 text-black ">

    <div class="row d-flex justify-content-evenly">


    <article class="col-md-3 mt-5">

        <h1 class="text-center mb-5">Patrocionadores</h1>

        <div id="carouselPatrocinadores" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active  text-center">
                <img src="../../../../assets/home/selos-e-patrocinadores/patrocinadores/esgas-logo.webp" class=" w-60  " alt="Primeiro slide">
              </div>
              <div class="carousel-item text-center ">
                <img src="../../../../assets/home/selos-e-patrocinadores/patrocinadores/G4S-logo.webp" class=" w-60" alt="Segundo slide">
              </div>

              <div class="carousel-item text-center">
                <img src="../../../../assets/home/selos-e-patrocinadores/patrocinadores/prefeitura-de-fundao.webp" class=" w-60" alt="Segundo slide">
              </div>
              <!-- Adicione mais imagens conforme necessário -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPatrocinadores" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden carousel-black">Anterior</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselPatrocinadores" data-bs-slide="next">
              <span class="carousel-control-next-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>


        

    </article>

    <article class="col-md-3 mt-5">

        <h1 class="text-center mb-5">Selos</h1>

        <div id="carouselSelos" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active text-center ">
                <img src="../.../../../../../assets/home/selos-e-patrocinadores/selos/Selo-Voa_PNG-1024x1024-2-150x150.webp" class=" w-60" alt="Primeiro slide">
              </div>
              <div class="carousel-item  text-center">
                <img src="../.../../../../../assets/home/selos-e-patrocinadores/selos/SeloDoarARGB-1-150x150.webp" class="w-60" alt="Segundo slide">
              </div>

              <div class="carousel-item  text-center">
                <img src="../.../../../../../assets/home/selos-e-patrocinadores/selos/selos_probono-02-1-150x150.webp" class="w-60" alt="Segundo slide">
              </div>
              <!-- Adicione mais imagens conforme necessário -->
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselSelos" data-bs-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSelos" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>

       

    </article>
    </div>
</section>