<main>

<section class="container-fluid   text-white p-5 bg-black bg-gradient">

    <div class="row">

        <article class="col-md-6">
            <img src="" alt="professor-alunas">
        </article>
    
        <article class="col-md-6">

            <h1 class="mt-5 text-center">Realizando Objetivos Sociais</h1>
            <p class="fs-3 mt-5 text-center">Somos uma comunidade Comprometida com a missão e autorizada pela lei de incetivo Ao Esporte.</p>

            <div class="text-center mt-5">
                <a href="#" class="btn btn-light btn-lg rounded-pill">Quero Patrocinar</a>
            </div>
    
        </article>
    

    </div>
    


</section>

<!--- Sessão Vídeo-->

<section class="container-fluid ">

    <div class="row">
        <article class="col text-white p-5 bg-black ">

            <h1 class="mt-5  text-center">Assista agora o vídeo para saber quem somos:</h1>


        </article>
    </div>

</section>

<!---Equipe-->

<section class="container-fluid p-5 bg-black text-white ">

    <!---Equipe adm-->

    <div class="row mt-5">

        <article class="col">
            <h1 class="text-center">Diretoria Administrativa</h1>

            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                

                <div class="card-team">

                    <div>
                        <img src="../../../assets/quem-somos/equipe-adm/Luciano.webp" alt="Luciano de Oliveiras Alves" class="img-fluid rounded-circle ">
                    </div>
                   

                    <div>
                        <h2 class="h5 mt-3">Luciano de Oliveiras Alves</h2>
                    </div>

                    <div>
                        <h3 class="h6 mt-3">Presidente</h3>
                    </div>
                    

                </div>

                <div class="card-team">

                    <img src="../../../assets/quem-somos/equipe-adm/Del-Pierro.webp" alt="Julian Del Pierro" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Julian Del Pierro</h2>
                    <h3 class="h6 mt-3">Secretário</h3>

                </div>

                <div class="card-team">
                    <img src="../../../assets/quem-somos/equipe-adm/Géssika.webp" alt="Tesoureira" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Géssika Silva Campos</h2>
                    <h3 class="h6 mt-3">Tesoureira</h3>

                </div>

            </div>

        </article>
    </div>

    <!---Equipe Operacional-->
    
    <div class="row mt-5">

        <article class="col">

            <h1 class="text-center my-5">Equipe Operacional</h1>

            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div class="card-team">
                    <img src="../../../assets/quem-somos/Equipe-operacional/Géssika.webp" alt="" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Géssika Silva</h2>
                    <h3 class="h6 mt-3">Coordenadora de Projetos</h3>

                </div>

                <div class="card-team">
                    <img src="../../../assets/quem-somos/Equipe-operacional/rogério.webp" alt="Rogério" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Rogério Alvarenga</h2>
                    <h3 class="h6 mt-3">Professor</h3>

                </div>

                <div class="card-team">
                    <img src="../../../assets/quem-somos/Equipe-operacional/vitor.webp" alt="Vitor" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Vitor de Carli</h2>
                    <h3 class="h6 mt-3">Monitor de Karatê</h3>

                </div>

            </div>
            
          
        </article>

    </div>


    <!---Conselho Fiscal-->

    <div class="row mt-5">

        <article class="col">

            <h1 class="text-center my-5">Conselho Fiscal</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div class="card-team">

                    <img src="../../../assets/quem-somos/Conselho-fiscal/topografia (1).webp" alt="Josebias-Topógrafo" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Josebias Oliveira Alves</h2>
                    <h3 class="h6 mt-3">Topógrafo</h3>
                </div>

                <div class="card-team">

                    <div>
                        <img src="../../../assets/quem-somos/Conselho-fiscal/músico-fundo-pret-2o.webp" alt="Luis-carlos-Músico" class="img-fluid rounded-circle ">
                    </div>
                    
                    <div>
                        <h2 class="h5 mt-3">Luis Carlos S.Neves</h2>
                    </div>

                    <div>
                        <h3 class="h6 mt-3">Músico</h3>
                    </div>
                   
                </div>

                <div class="card-team">

                    <div>
                        <img src="../../../assets/quem-somos/Conselho-fiscal/músico-fundo-preto-tamanho-pequeno.webp" alt="" class="img-fluid rounded-circle">
                    </div>

                    <div>
                        <h2 class="h5 mt-3">Ewerton José da Costa Jovelino</h2>
                    </div>
                    <div>

                        <h3 class="h6 mt-3">Músico</h3>
                    </div>
                   
                </div>

            </div>

        </article>
    </div>






    <!---Equipe Voluntariada-->

    <div class="row mt-5">

        <article class="col">

            <h1 class="text-center my-5">Voluntários</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div class="card-team">

                    <img src="" alt="Josebias-Topógrafo" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Josebias Oliveira Alves</h2>
                    <h3 class="h6 mt-3">Topógrafo</h3>
                </div>

                <div class="card-team">

                    <div>
                        <img src="" alt="Luis-carlos-Músico" class="img-fluid rounded-circle ">
                    </div>
                    
                    <div>
                        <h2 class="h5 mt-3">Luis Carlos S.Neves</h2>
                    </div>

                    <div>
                        <h3 class="h6 mt-3">Músico</h3>
                    </div>
                   
                </div>

                <div class="card-team">

                    <div>
                        <img src="" alt="" class="img-fluid rounded-circle">
                    </div>

                    <div>
                        <h2 class="h5 mt-3">Ewerton José da Costa Jovelino</h2>
                    </div>
                    <div>

                        <h3 class="h6 mt-3">Músico</h3>
                    </div>
                   
                </div>

            </div>

        </article>
    </div>

   

    


</section>

</main>
