<main>

<section class="container-fluid  bg-dark text-white p-5 bg-black bg-gradient">

    <div class="row">

        <article class="col-md-6">
            <img src="" alt="professor-alunas">
        </article>
    
        <article class="col-md-6">

            <h1 class="mt-5 text-center">Realizando Objetivos Sociais</h1>
            <p class="fs-3 mt-5 text-center">Somos uma comunidade Comprometida com a missão e autorizada pela lei de incetivo Ao Esporte.</p>

            <div class="text-center mt-5">
                <a href="#" class="btn btn-light btn-lg rounded-pill">Quero Patrocinar</a>
            </div>
    
        </article>
    

    </div>
    


</section>

<!--- Sessão Vídeo-->

<section class="container-fluid ">

    <div class="row">
        <article class="col text-white p-5 bg-black ">

            <h1 class="mt-5  text-center">Assista agora o vídeo para saber quem somos:</h1>


        </article>
    </div>

</section>

<!---Equipe-->

<section class="container-fluid p-5 bg-black text-white ">

    <div class="row">

        <article class="col">

            <h1 class="text-center my-5">Diretoria Administrativa</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div>
                    <img src="" alt="Presidente" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Luciano de Oliveira Alves</h2>
                    <h3 class="h6 mt-3">Presidente</h3>
                </div>

                <div>
                    <img src="" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Juliano Del Pierro</h2>
                    <h3 class="h6 mt-3">Secretário</h3>
                </div>

                <div>
                    <img src="" alt="Tesoureira" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Géssika Silva Campos</h2>
                    <h3 class="h6 mt-3">Tesoureira</h3>
                </div>
            </div>

        </article>
    </div>

    <!---Equipe Operacional-->

    <div class="row">

        <article class="col">

            <h1 class="text-center my-5">Equipe Operacional</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div>
                    <img src="" alt="Tesoureira" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Géssika Silva Campos</h2>
                    <h3 class="h6 mt-3">Cordenadora de Projetos</h3>
                </div>

                <div>
                    <img src="" alt="Presidente" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Rogério Alvarenga</h2>
                    <h3 class="h6 mt-3">Professor</h3>
                </div>

                <div>
                    <img src="" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Vitor de Carli</h2>
                    <h3 class="h6 mt-3">Monitor de Karatê</h3>
                </div>

            </div>

        </article>
    </div>

    <!---Conselho Fiscal-->

    <div class="row">

        <article class="col">

            <h1 class="text-center my-5">Conselho Fiscal</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div>
                    <img src="" alt="Tesoureira" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Josebias Oliveira Alves</h2>
                    <h3 class="h6 mt-3">Topógrafo</h3>
                </div>

                <div>
                    <img src="" alt="Presidente" class="img-fluid rounded-circle ">

                    <h2 class="h5 mt-3">Luis Carlos S.Neves</h2>
                    <h3 class="h6 mt-3">Músico</h3>
                </div>

                <div>
                    <img src="" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Ewerton José da Costa Jovelino</h2>
                    <h3 class="h6 mt-3">Músico</h3>
                </div>

            </div>

        </article>
    </div>


    <!---Voluntários-->

    <div class="row">

        <article class="col h-5">

            <h1 class="text-center my-5">Voluntários</h1>
            
            <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Tesoureira" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Maysa Araujo</h2>
                    <h3 class="h6 mt-3">Diretora de Marketing</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Presidente" class="img-fluid rounded-circle ">

                    <h2 class="h5 mt-3">Ana Francielle</h2>
                    <h3 class="h6 mt-3">Programadora</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Otávio Benedicto</h2>
                    <h3 class="h6 mt-3">Programador</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Alexandre</h2>
                    <h3 class="h6 mt-3">Programador</h3>
                </div>


                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Wellyngton</h2>
                    <h3 class="h6 mt-3">Programador</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Daiany</h2>
                    <h3 class="h6 mt-3">Analista de Dados</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Lauane</h2>
                    <h3 class="h6 mt-3">Criadora de Conteúdo</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Claúdia</h2>
                    <h3 class="h6 mt-3">Desenvolvedor Mobile</h3>
                </div>

                <div class="voluntary mt-5">
                    <img src="../../../assets/voluntary.png" alt="Secretário" class="img-fluid rounded-circle ">
                    <h2 class="h5 mt-3">Ana Júlia</h2>
                    <h3 class="h6 mt-3">Redatora</h3>
                </div>
            </div>

        </article>
    </div>


</section>

</main>
