<main>
  <section class="container-fluid text-white p-5 bg-black bg-gradient">
    <div class="row">
      <article class="col-md-6 text-center">
        <img
          src="../../../assets/quem-somos/logo/LOGO-FUNDO-PRETO.webp"
          alt="logo-bushido"
          class="img-fluid rounded-pill"
          style="width: 350px"
        />
      </article>

      <article class="col-md-6">
        <h1 class="mt-5 text-center">Realizando Objetivos Sociais</h1>
        <p class="fs-3 mt-5 text-center">
          Somos uma comunidade Comprometida com a missão e autorizada pela lei de incetivo Ao
          Esporte.
        </p>

        <div class="text-center mt-5">
          <a href="#" class="btn btn-light btn-lg rounded-pill">Quero Patrocinar</a>
        </div>
      </article>
    </div>
  </section>

  <!--- Sessão Quem somos-->

  <section class="container-fluid">
    <div class="row">
      <article class="col text-center px-4 py-2">
        <h1 class="mt-5 text-center">Quem Somos</h1>
        <p class="mt-5 fs-4">
          Trabalhamos com crianças, jovens, adolescentes e adultos, com dade entre 05 a 60 anos.
        </p>

        <p class="mt-5 fs-4">
          Atuamos no Combate as drogas e a violência física, verbal ou emocional, nas ruas ou no
          seio familiar, contra crianças, mulheres, idosos, lgbt+, animais, etc. E no combate ás
          doenças emocionais, como, por exelmplo, a ansiedade, a depressão, através de atividades
          físicas, gerando com isso qualidade de vida no ambient de trabalho ou nos lares e no
          aumento da auto estima.
        </p>

        <p class="fs-4">
          Na música ensinamos instrumentos musicais para formação de uma banda sinfônica ou banda de
          música, preparando-os para o mercado de trabalho ou para adentrar na faculdade de música
        </p>
      </article>
    </div>

    <div class="row bg-black">
      <article class="col text-center">
        <img
          src="../../../assets/quem-somos/capa-2-quem-somos.webp"
          alt="Professor-e-Aluno"
          class="img-fluid"
        />
      </article>
    </div>
  </section>

  <!---Equipe-->

  <section class="container-fluid p-5">
    <h1 class="text-center">Nossa Equipe</h1>
    <p class="text-center fs-4 mt-5">
      Fazemos parte da equipe para contribuir com esforços, habilidades e conhecimentos para o
      alcance de objetivos, envolvendo cooperação, comunicação eficaz e a disposição de trabalhar em
      conjunto para o sucesso da ONG.
    </p>

    <!---Equipe adm-->

    <div class="row mt-5">
      <article class="col">
        <h1 class="text-center">Diretoria Administrativa</h1>

        <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">
          <div class="card-team border border-dark border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/equipe-adm/Luciano.webp"
                alt="Luciano de Oliveiras Alves"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Luciano de Oliveiras Alves</h2>
            </div>

            <div>
              <h3 class="h6">Presidente</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/equipe-adm/Del-Pierro.webp"
              alt="Julian Del Pierro"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Julian Del Pierro</h2>
            <h3 class="h6">Secretário</h3>
          </div>

          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/equipe-adm/Géssika.webp"
              alt="Tesoureira"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Géssika Silva Campos</h2>
            <h3 class="h6">Tesoureira</h3>
          </div>
        </div>
      </article>
    </div>

    <!---Equipe Operacional-->

    <div class="row mt-5">
      <article class="col">
        <h1 class="text-center my-5">Equipe Operacional</h1>

        <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">
          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/Equipe-operacional/Géssika.webp"
              alt=""
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Géssika Silva</h2>
            <h3 class="h6">Coordenadora de Projetos</h3>
          </div>

          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/Equipe-operacional/rogério.webp"
              alt="Rogério"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Rogério Alvarenga</h2>
            <h3 class="h6">Professor</h3>
          </div>

          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/Equipe-operacional/vitor.webp"
              alt="Vitor"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Vitor de Carli</h2>
            <h3 class="h6">Monitor de Karatê</h3>
          </div>
        </div>
      </article>
    </div>

    <!---Conselho Fiscal-->

    <div class="row mt-5">
      <article class="col">
        <h1 class="text-center my-5">Conselho Fiscal</h1>

        <div class="d-flex flex-wrap justify-content-evenly mt-5">
          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/Conselho-fiscal/topografia (1).webp"
              alt="Josebias-Topógrafo"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5 mt-3">Josebias Oliveira Alves</h2>
            <h3 class="h6 mt-3">Topógrafo</h3>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/Conselho-fiscal/músico-fundo-pret-2o.webp"
                alt="Luis-carlos-Músico"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Luis Carlos S.Neves</h2>
            </div>

            <div>
              <h3 class="h6">Músico</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/Conselho-fiscal/músico-fundo-preto-tamanho-pequeno.webp"
                alt=""
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Ewerton José da Costa Jovelino</h2>
            </div>
            <div>
              <h3 class="h6">Músico</h3>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!---Equipe Voluntariada-->

    <div class="row mt-5">
      <article class="col">
        <h1 class="text-center my-5">Voluntários</h1>

        <div class="d-flex flex-wrap justify-content-evenly text-center mt-5">
          <div class="card-team border border-dark">
            <img
              src="../../../assets/quem-somos/voluntarios/maysa.webp"
              alt="Maysa"
              class="img-fluid rounded-circle"
            />
            <h2 class="h5">Maysa Araújo</h2>
            <h3 class="h6">Diretora de Marketing</h3>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/ana.webp"
                alt="Ana Francielle"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Ana Francielle</h2>
            </div>
            <div>
              <h3 class="h6">Programadora</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/otavio.webp"
                alt="otavio"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Otávio Benedicto</h2>
            </div>
            <div>
              <h3 class="h6">Programador</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/alexandre.webp"
                alt="Alexandre"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Alexandre</h2>
            </div>
            <div>
              <h3 class="h6">Programador</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/daiany.webp"
                alt="Daiany"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Daiany</h2>
            </div>
            <div>
              <h3 class="h6">Analista de Dados</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/claudia.webp"
                alt="Claúdia"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Claúdia</h2>
            </div>
            <div>
              <h3 class="h6">Desenvolvedor mobile</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/ana-julia.webp"
                alt="Ana-Julia"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Ana Júlia</h2>
            </div>
            <div>
              <h3 class="h6">Redatora</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/luane.webp"
                alt="Laune"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Luane</h2>
            </div>
            <div>
              <h3 class="h6">Criadora de conteúdo</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/diego.webp"
                alt="Diego"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Diego</h2>
            </div>
            <div>
              <h3 class="h6">Desenvolvedor Front-end</h3>
            </div>
          </div>

          <div class="card-team border border-dark">
            <div>
              <img
                src="../../../assets/quem-somos/voluntarios/paulo.webp"
                alt="paulo"
                class="img-fluid rounded-circle"
              />
            </div>

            <div>
              <h2 class="h5">Paulo</h2>
            </div>
            <div>
              <h3 class="h6">Desenvolvedor Front-end</h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
