<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="currentColor"
  class="bi bi-plus-circle text-black"
  viewBox="0 0 16 16"
  data-bs-toggle="modal"
  data-bs-target="#modalFalta"
>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
  <path
    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
  />
</svg>

<div
  class="modal fade"
  id="modalFalta"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nova Falta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <label for="data">Data</label>
            <input name="data" class="form-control" type="date" [(ngModel)]="novaFalta.data" />
          </div>
          <div>
            <label for="motivo">Motivo</label>
            <input
              name="motivo"
              class="form-control"
              type="text"
              required
              [(ngModel)]="novaFalta.motivo"
            />
          </div>
          <div>
            <label for="observação">Observação</label>
            <input
              name="observação"
              class="form-control"
              type="text"
              [(ngModel)]="novaFalta.observacao"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button (click)="adicionarFalta()" type="button" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>
</div>
