<div class="card p-3 mb-2 card-container">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <div class="ms-2 c-details">
          <h5 class="mb-0">
            <i>
              {{ turma.nome }}
            </i>
          </h5>
        </div>
      </div>
      <div class="badge bg-info text-dark rounded" *ngIf="turma.tutor">
        <span>
          {{ turma.tutor.nome }}
        </span>
      </div>
    </div>
    <div class="mt-5">
      <p class="heading mb-0">Endereço<br /></p>
      <h3>{{ turma.endereco }}</h3>
    </div>
    <div class="card-footer text-muted d-flex align-items-center justify-content-between py-3">
      <span class="text-primary">
        {{ turma.dataCriacao }}
      </span>
      <a href="/admin/{{ email }}/turmas/{{ turma.nome }}">
        <button class="btn btn-primary">Ver turma</button>
      </a>
    </div>
  </div>
