<section class="container-fluid bg-white py-5">
    <h1 class="text-center text-black">Depoimentos</h1>

    <div class="row text-center mt-5">

        <article class="col my-3">
            <img src="../../../../assets/home/depoimentos/Depoimento-01.webp" alt="" class="depoimento border  rounded">
        </article>

        <article class="col my-3">
            <img src="../../../../assets/home/depoimentos/depoimento-02.webp" alt="" class="depoimento border  rounded">
        </article>

        <article class="col my-3">
            <img src="../../../../assets/home/depoimentos/depoimento-03.webp" alt="" class="depoimento border  rounded">
        </article>

    </div>
</section>
