<div class="card card-margin" *ngIf="aluno">
  <div class="card-body">
    <div class="row search-body">
      <div class="col-lg-12">
        <div class="search-result">
          <div
            class="result-header d-flex justify-content-end align-items-center"
            *ngIf="aluno.graduacao[aluno.graduacao.length - 1].status"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-check text-success"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
              />
              <path
                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
              />
            </svg>
          </div>

          <div
            class="result-header d-flex justify-content-end align-items-center"
            *ngIf="!aluno.graduacao[aluno.graduacao.length - 1].status"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-x text-danger"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
              />
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"
              />
            </svg>
          </div>

          <div class="result-body">
            <div class="d-flex informacao-aluno justify-content-between align-items-center">
              <!---Foto do Aluno-->
              <div class="widget-26-job-emp-img">
                <img
                  *ngIf="aluno.genero === 'M'"
                  class="rounded-circle"
                  src="../../../../assets/aluno/boy_icon.webp"
                  alt="Avatar masculino"
                />
                <img
                  *ngIf="aluno.genero === 'F'"
                  class="rounded-circle"
                  src="../../../../assets/aluno/girl_icon.webp"
                  alt="Avatar feminino"
                />
              </div>

              <div class="mx-3 w-75 text-lg-start text-center">
                <div class="">
                  <p class="type m-0">
                    Nome: {{ aluno.nome }}</p>
                </div>

                <div class="">
                  <p class="type m-0">Matricula: {{ aluno.matricula }}</p>
                </div>

                <div class="">
                  <p class="type m-0">Gênero: {{ aluno.genero }}</p>
                </div>
              </div>

              <div>
                <a href="admin/{{ email }}/aluno/{{ aluno.matricula }}" class="btn btn-primary"
                  >Ver todos os dados</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---Buscando dados - MOSTRANDO PLACEHOLDER-->
<div class="row" *ngIf="showPlaceholder">
  <div class="col-12">
    <div class="card card-margin">
      <div class="card-body">
        <div class="row search-body">
          <div class="col-lg-12">
            <div class="search-result">
              <div class="result-header">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="result-actions">
                      <div class="result-views">
                        <span class="placeholder" aria-hidden="true">Aluno Ativo</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="result-body">
                <div class="d-flex informacao-aluno justify-content-between align-items-center">
                  <!---Foto do Aluno-->
                  <div class="widget-26-job-emp-img">
                    <img
                      class="rounded-circle placeholder"
                      src="#"
                      alt="Avatar carregando"
                      aria-hidden="true"
                    />
                  </div>

                  <div class="">
                    <span class="placeholder" aria-hidden="true">Nome: Fulano de tal</span>
                  </div>

                  <div class="widget-26-job-info">
                    <span class="placeholder" aria-hidden="true">RG: 3123412</span>
                  </div>

                  <div class="widget-26-job-info">
                    <span class="placeholder" aria-hidden="true">Gênero: M</span>
                  </div>

                  <div class="widget-26-job-category">
                    <span class="btn placeholder">Ver todos os alunos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
