<main>
    <section class="container-fluid d-flex justify-content-center align-items-center bg-dark text-white py-5">
        <div class="row">
            <article class="px-5 col">
                <div class=" text-center">

                    <h1 class="py-2">Faça uma doação e nos ajude a transformar vidas.</h1>
                    <h2 class="py-2">Como Nos Ajudar</h2>
                    <p class=" py-2 fs-5">Estamos empenhados em causar um impacto positivo e construir um futuro melhor. Agradecemos profundamente por considerar apoiar nossa missão. <br>Juntos, somos agentes de transformação.</p>

                </div>
              

                <div class="d-flex flex-wrap justify-content-center gap-5 py-2">
                    <!---Doações-->

                    <div
                        class="doacoes d-flex flex-column justify-content-beetween align-items-center gap-3 p-3 border border-light rounded-4">
                        <div>
                            <img src="../../../assets/doacoes/banco.webp" alt="icone de um banco" class="img-fluid" />
                        </div>
                        <h2>Transferência Bancária</h2>
                        <h3>BANCO: Banestes</h3>
                        <h4>Agência 166 | Conta 3582898-7</h4>
                        <h4 class="text-center">
                            Razão Social: Instituto Cultural e Esportivo Força Jovem Bushido
                        </h4>
                    </div>

                    <div
                        class="doacoes d-flex flex-column justify-content-beetween align-items-center gap-3 p-3 border border-light rounded-4">
                        <div>
                            <img src="../../../assets/doacoes/banco.webp" alt="icone de um banco" class="img-fluid" />
                        </div>
                        <h2>Transferência Bancária</h2>
                        <h3>BANCO: Cora SCD</h3>
                        <h4>Agência 0001 | Conta 1676266-0</h4>
                        <h4 class="text-center">
                            Razão Social: Instituto Cultural e Esportivo Força Jovem Bushido
                        </h4>
                    </div>

                    <div class="doacoes d-flex flex-column align-items-center p-3 gap-5 border border-light rounded-4">
                        <div>
                            <img src="../../../assets/doacoes/pix.webp" alt="icone do pix" class="img img-fluid" />
                        </div>

                        <h2>PIX(CNPJ)</h2>

                        <h3>27.240.534/0001-41</h3>
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>