<section class="container-fluid">
    <h1>Sobre o projeto</h1>
    <p>O projeto teve início em 2015 com o Pr. Luciano de Oliveira Alves da Assembleia de Deus. Seu foco para as
        crianças e jovens é fornecer um caminho e, ao mesmo tempo, incentivá-los a ficar longe das drogas e da
        violência. Já passaram pelo projeto aproximadamente 500 alunos. Vale salientar que o karatê, como esporte, além
        de tirar as pessoas da vida sedentária, contribui para ter uma qualidade de vida melhor, evitando algumas
        doenças emocionais, entre elas o estresse, a depressão, etc.</p>
    <p>Outro benefício que a prática esportiva traz é alguns valores sociais, entre eles o respeito mútuo, disciplina,
        concentração, coordenação motora, lealdade, irmandade e trabalho em equipe. O karatê também prega em sua
        filosofia a igualdade social, combatendo o preconceito, seja ele racial, econômico ou de gênero.</p>
    <p>Além de combater qualquer tipo de violência física ou verbal, familiar ou nas ruas, seja contra crianças,
        mulheres, adultos, pessoas da terceira idade ou de gênero. Pratique karatê e veja os benefícios que ele pode
        trazer para você e sua família. Quem pratica sabe a força que tem.</p>
    <a href="#">Apoie esta causa, clique aqui!</a>

</section>