<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-lg">
            <a class="navbar-brand d-sm-none" routerLink="">Instituto Bushido</a>
            <a class="navbar-brand d-none d-sm-block d-lg-none" routerLink="">Instituto Cultural e Esportivo Força Jovem Bushido </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/quem-somos" routerLinkActive="active">Quem Somos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Projetos Sociais
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/karate-sem-fronteiras"
                                    routerLinkActive="active">Karatê sem
                                    fronteiras</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/blog" routerLinkActive="active">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/blog/saude"
                                routerLinkActive="active">Saúde</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/blog/esporte"
                                    routerLinkActive="active">Esporte</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/blog/educacao"
                                routerLinkActive="active">Educação</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="/contato" routerLinkActive="active">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/seja-um-doador" routerLinkActive="active">Seja um Doador</a>
                    </li>
                    <!--Transparencia-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Transparência
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="../../../../assets/pdfs/ESTATUTO.pdf" target="_blank">Estatuto social</a>
                            </li>
                           
                            <li>
                                <a class="dropdown-item" href="#" >Transparência</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../../../../assets/pdfs/ATA.pdf" target="_blank" >Ata da nomeação da diretoria</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../../../../assets/pdfs/BALANCO-BALANCETE-E-DRE.pdf" target="_blank" >Balanço, Balancete DRE</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#" >Relatório Anual</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../../../../assets/pdfs/PARECR-DO-CONSELHO-FISCAL-2022-A-2023.pdf" target="_blank" >Relatório Conselho fiscal 2023</a>
                            </li>

                            
                            <li>
                                <a class="dropdown-item" href="../../../../assets/pdfs/POLITICA-DE-PRIVACIDADE.pdf" target="_blank" >Política de Privacidade</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>