/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;

}
svg{
    color: white;
    transition: .5s;
}

@media (min-width:800px){
    svg:hover{
        color: rgba(113, 113, 187, 0.705);
        transform: scale(1.5);
    }
}
    