<section class="container-fluid text-white bg-black bg-gradient  text-center py-5">

    <h1>Nossos Objetivos</h1>

    <div class="row mt-5">

   
        <article class="col-md-4 mt-4">
            <h2>100%</h2>
            <h3>Metas à alcançar</h3>

        </article>

        <article class="col-md-4 mt-4">
            <h2>200+</h2>
            <h3>Alcançar crianças e jovens por ano</h3>

        </article>

        <article class="col-md-4 mt-4">
            <h2>R$700.000</h2>
            <h3>Meta Anual à alcançar</h3>

        </article>
    </div> 
</section>
